<div class="left-div">
  <app-upload-button [acceptedFileTypes]="'.json'" (onChange)="onFileSelected($event)"></app-upload-button>
  <button #colorToggler data-color="#00ff00" (click)="changeColor($event)">Toggle to {{(state$ | async).color=='default'?colorToggler.getAttribute('data-color'):'default'}}</button>
</div>
<div class="right-div">
  {{this.escherContainer.outputText}}
</div><br><br>
<div class="left-div">
  <app-statistics></app-statistics>
</div>
<div class="right-div">
  <app-escher #escherContainer></app-escher>
</div>
