<div>
  <div class="left-div">
    <app-upload-button [acceptedFileTypes]="'.json'" (change)="onFileSelected($event)"></app-upload-button>
    <button #colorToggler data-color="#00ff00" (click)="changeColor($event)">Toggle to {{(state$ | async).color=='default'?colorToggler.getAttribute('data-color'):'default'}}</button>
  </div>
  <div class="clear"></div>
</div>
<div>
  <div class="left-div">
    <app-statistics></app-statistics>
  </div>
  <div class="right-div">
    <app-escher #escherContainer></app-escher>
  </div>
  <div class="clear"></div>
</div>
