/* You can add global styles to this file, and also import other style files */

@import '~escher-vis/css/dist/builder.css';  
  body {
    height: 100%;
    min-height: 100%;
  }

  .left-div{
    width: 23%;
    float: left;
    display: block;
  }

  .right-div{
    width: 75%;
    float: left;
    display: block;
  }

  .clear {
    clear: both;
  }

  svg.escher-svg .segment:hover {
    stroke: yellow;
    cursor: pointer;
  }

