<div class="escher-button">
<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
        <mat-panel-title>
            Nodes by type
        </mat-panel-title>
        </mat-expansion-panel-header>
        <pre>{{nodesByType | json}}</pre>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
        <mat-panel-title>
            Genes in more than one reaction
        </mat-panel-title>
        </mat-expansion-panel-header>
        <pre>{{genesInMoreThanOneReaction | json}}</pre>
    </mat-expansion-panel>
</mat-accordion>
</div>